.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sticky {
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 1000;
    width: 100%;
    padding: 20px;
    background-color: rgba(163, 140, 140, 0.2); /* Light transparent color */
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1); /* larger shadow */
    transition: background-color 1s ease;
    height:70px;

}

.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Dark transparent color */
    padding: 10px;
}

.scrolled-btn {
    color: wheat;
}

.navbar .logo {
    width: 150px;
    transition: 0.2s;
}
.navbar .logo:hover {
    transform: scale(1.1);
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557E;
    font-size: 18px;
    transition: 0.2s;
}

.navbar-menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557E;
    font-size: 21px;
    margin-top: 2px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-right img {
    cursor: pointer;
    transition: 0.2s;
}

.navbar-right img:hover {
    transform: scale(1.1);
}

.navbar-search-icon{
position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #FF4C24;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-right button {
    background: transparent;
    font-size: 16px;
    color: #49557E;
    border: 1px solid #FF4C24;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover {
    background: #fff4f2;
    transform: scale(1.1);
}

.navbar-profile{
    position: relative;

}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.navbar-profile-dropdown img{
    width: 20px;
    transition: 0.2s;
}

.navbar-profile-dropdown img:hover{
    transform: scale(1.1);
}
.navbar-profile-dropdown li:hover{
    color: #FF4C24;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.navbar-profile hr{
    background-color: gray;
    height: 1px;
    border: none;
}
@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 7px 20px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}
