.ls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    
}

.ls-left {
    height: 100%;
    width: 70%;
}

.ls-right {
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls-left img {
    height: 100vh;
    width: 70vw; 
}

.login-popup {
    position: relative;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #d4bdbd;
    background-color: #926666;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
     border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 99, 71, 0.2),   /* Light tomato shadow */
    0 6px 20px rgba(255, 69, 0, 0.2),   /* Darker tomato shadow */
    0 8px 30px rgba(255, 160, 122, 0.2); /* Lighter shadow for contrast */
transition: box-shadow 0.3s ease;
}

.login-popup-container:hover {
    box-shadow: 0 8px 16px rgba(255, 99, 71, 0.4), 
    0 12px 40px rgba(255, 69, 0, 0.4),
    0 16px 60px rgba(255, 160, 122, 0.4);
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #C9C9C9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #FF4C24;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: #FF4C24;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .ls {
        flex-direction: column; /* Stack elements vertically */
    }
    .ls-left {
        width: 100%; /* Full width for smaller screens */
        height: 50%; /* Adjust height */
    }
    .ls-right {
        width: 100%; /* Full width for smaller screens */
        height: 50%; /* Adjust height */
        justify-content: center;
    }
    .ls-left img {
        height: auto; /* Adjust image height */
        width: 100%; /* Full width for smaller screens */
    }
}


@media (max-width: 500px) {
    .ls-left {
        width: 100%; /* Full width for smaller screens */
        height: 35%; /* Adjust height */
}
}
